
.container-down {
    margin-top: 8rem !important;
    margin-bottom: 10rem !important;
}

.bg-info {
    background-color: #096387 !important;
}

.bg-primary {
    background-color: #096387 !important;
}

