{% extends "admin/change_list.html" %}

{% block result_list %}
  <div id="result_list">
    <table id="result_list" class="table">
      <thead>
        <tr>
          <th scope="col">From Date</th>
          <th scope="col">Daily Revenue</th>
          <th scope="col">Cumulative Revenue</th>
          <!-- Add other fields as needed -->
        </tr>
      </thead>
      <tbody>
        {% for item in cumulative_revenue_data %}
          <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ item.from_date }}</td>
            <td>{{ item.daily_revenue }}</td>
            <td>{{ item.cumulative_revenue }}</td>
            <!-- Add other fields as needed -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
